<div class="services-section">
    <div class="services-content">
      <h3 class="services-role">Invited Reviewer</h3>
      <div class="services-timeline">
        <div class="timeline-item">
          <div class="year">2025</div>
          <ul>
            <li>AAAI</li>
            <li>AISTATS</li>
            <li>ACL ARR (Feb)</li>
            <li>COLM</li>
            <li>ICLR</li>
            <li>ICML</li>
          </ul>
        </div>
        <div class="timeline-item">
          <div class="year">2024</div>
          <ul>
            <li>ACL ARR (Feb, Apr, Jun, Aug, Oct, Dec)</li>
            <li>COLM</li>
            <li>ICLR</li>
            <li>ICML</li>
            <li>NeurIPS</li>
          </ul>
        </div>
        <div class="timeline-item">
          <div class="year">2023</div>
          <ul>
            <li>ACL ARR (Dec)</li>
            <li>NLPCC</li>
          </ul>
        </div>
      </div>
    </div>
  </div>